@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --color-primary: #F84565;
  --color-primary-dull:#D63854;
}
*{
  font-family: "Outfit",sans-serif;
}

